<!--

<md-sidenav-container>
    <md-sidenav mode="side" opened>
          <md-nav-list>
            <md-list-item *ngFor="let user of users"> 
              <span>{{user}}</span>
            </md-list-item>
   </md-nav-list>
 </md-sidenav>
 <app-chats></app-chats>
</md-sidenav-container>
-->
  <div id="container">
  <nav>
  <div class="nav-wrapper  teal darken-4">
    <a href="" class="brand-logo">Whatsapp Clone</a>
   <!--
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="">sass</a></li>
      <li><a href="">sass <span class="new badge">4</span></a></li>
      <li><a href="">sass</a></li>

    </ul>
    -->
  </div>
</nav>
   
<div class="container">
  
    <div class="row">
      <div class="col s4">
            <app-users></app-users>      
      </div>
      <div class="col s8">
          
          <app-chats></app-chats>
            
            <div id="copyright">
            <div class="row">
		     <div class="col s9">
                <input  type="text"> 
             </div>
            <div class="col s3">

		    <button   type="submit" 
			class="btn waves-effect waves-light s2"  name="action" >Send</button>
                </div>
	         </div>
</div>
             </div>
     </div>
    </div>  
     
  
      
</div>


