.container {
    width: 100%;
    max-width:initial;
  }
  #container {
      
  }
  #copyright {
      position: relative;
      bottom: 0;
      right: 0;
      width: 100%;
  }

  .card-panel{
    height: 40px;
    width: 60px;
  }

  :host ::ng-deep .highlight{
    background-color: #F2E366;
  }
  