.container {
    width: 100%;
    max-width:initial;
  }
  #copyright {
      position: relative;
      bottom: 0;
      right: 0;
      width: 100%;
  }

  .card-panel{
    height: 40px;
    width: 60px;
  }

  :host ::ng-deep .highlight{
    background-color: #F2E366;
  }

  .no-padding{
    padding: 0!important;
  }
  .chat-footer {
    width: 64.666667%!important;
    padding: 0 .75rem;
    color:black;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
}
 
/* Just use .scroll1 class to every element you ant to add the custom scroll bar to*/
.scroll1::-webkit-scrollbar {
  width: 0.32em;
}

.scroll1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,1,0.2);
}

.scroll1::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid #F5F5F5;
}

.main{
  height: -webkit-stretch;
}

/* Theme color */
nav{
  background-color: #3B8686;
}

/* .me{
  font-size: 14px;
  border-left: 3px solid #60DF88 !important;
  padding: 5px;
  background-color: rgb(239, 255, 241);
}

.you{
  font-size: 14px;
  border-right: 3px solid rgb(255, 112, 0) !important;
  padding: 5px;
  background-color: rgb(247, 247, 214);
}

blockquote.pull-right {
  padding-left: 15px;
  padding-right: 15px;
  text-align: right;
  border-left: 5px solid #60DF88;
  border-right: 0;
}

blockquote.pull-left {
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
  border-right: 5px solid #60DF88;
  border-left: 0;
} */

.sent > blockquote{
  font-size: 14px;
  border-left: 3px solid #60DF88 !important;
  padding: 5px;
  background-color: rgb(239, 255, 241);
  padding-left: 15px;
  padding-right: 15px;
  text-align: right;
  border-left: 5px solid #60DF88;
  border-right: 0;
  margin: 3px 0;
  float: right!important;
}

.received > blockquote{
  font-size: 14px;
  border-right: 3px solid rgb(255, 112, 0) !important;
  padding: 5px;
  background-color: rgb(247, 247, 214);
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
  border-right: 5px solid #60DF88;
  border-left: 0;
  margin: 3px 0;
  float: left!important;
}
.emoji{
  display:inline-block;
}